@model TFZRAutosalon.Models.Cars
@inject TFZRAutosalon.Services.IServices.ICarsService _carsService

@{
    Layout = "_Layout";
}

<h2>Create new car</h2>
<form asp-controller="Cars" asp-action="Add" method="post" enctype="multipart/form-data">
    <label asp-for="Manufacturers"></label>
    <select asp-for="ManufacturersId" asp-items="@_carsService.GetManufacturersForDropDown()"></select>
    <label asp-for="Categorizes"></label>
    <select asp-for="CategoryId" asp-items="@_carsService.GetCategoryForDropDown()"></select>
    <label asp-for="CarModels"></label>
    <select asp-for="CarModelId" asp-items="@_carsService.GetModelsForDropDown()"></select>
    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <label asp-for="HorsePower"></label>
    <input asp-for="HorsePower" />
    <label asp-for="Torque"></label>
    <input asp-for="Torque" />
    <label asp-for="NumberOfDoors"></label>
    <input asp-for="NumberOfDoors" />



    <button type="submit">Save</button>
</form>
